<h1>Dashboard#Index</h1>
<div id='map'></div>


<script type="text/javascript">
    const asd = [
        { name: 'vehicle_name_1', positions: [{ lat: -26.82414, lng: -65.22269 }] },
        { name: 'vehicle_name_2', positions: [{ lat: -26.83853, lng: -65.22569 }] }
    ]
    renderMap(asd);
</script>

